@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    
}
header{
    text-align: center;
    max-width: 500px;
    margin: 60px auto;
    font-size: large;
    padding: 20px;
}
header h1{
    font-weight: 200;
    color: hsl(0, 0%, 57%);
    font-size: x-large;
}
header > h1 > span{
    font-weight: 600;
    color: black;
    font-size: x-large;
}
header h2 {
    font-weight: normal;
    color: hsl(0, 2%, 55%);
    font-size: smaller;
}
div#corpo{

    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1230px;
}
div#construtor{
   background-color: white;
   border-top: 5px solid hsl(0, 78%, 62%);
   border-radius: 10px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
   padding: 30px;
   font-size: small;
   display: block;
   margin: 15px;
   width: 350px;
   
}
#corpo h1{
    font-weight: bold;
    margin-bottom: 20px;
}
#corpo p {
    font-weight: normal;
    font-size: 200;
    color:hsl(0, 0%, 57%) ;
    margin-bottom: 30px;
}

#corpo  img{
  margin-left: auto;
  display: block;
}
 div#supervisor{
    background-color: white;
    border-top: 5px solid hsl(180, 62%, 55%);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    padding: 30px;
    font-size: small;
    width: 350px;
    margin: 15px;
    order: -1;
    transform: translateY(50%);
 }
 
 div#karma{
    background-color: white;
    border-top: 5px solid hsl(34, 97%, 64%);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    padding: 30px;
    font-size: small;
    display: block;
    width: 350px;
    margin: 15px;
    order: 1;
 }
 div#calculadora{
    background-color: white;
    border-top: 5px solid hsl(212, 86%, 64%);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
    padding: 30px;
    font-size: small;
    display: block;
    width: 350px;
    margin: 15px;
    transform: translateY(50%);
    
 }
 @media screen and (max-width:1160px) { 
    div#corpo{

        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
        
        
    }
    div#calculadora{
        transform: none;
    }
    div#supervisor{
        transform: none;
    }
 }